name: CI Pipeline

on:
  push:
    branches:
      - main
      - dev

jobs:
  check-site:
    runs-on: ubuntu-latest

    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Vérifier que le site existe
        run: |
          if [ ! -f docs/index.html ]; then
            echo "❌ docs/index.html est manquant"
            exit 1
          fi
          echo "✅ Site statique détecté"
